bokeh==2.3.2
brewer2mpl==1.4.1
certifi==2020.6.20
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
colorama==0.4.1
colorlover==0.3.0
cufflinks==0.17.3
cycler==0.10.0
flash==1.0.3
Flask==1.1.2
matplotlib==3.3.0
numpy==1.16.2
pandas==0.25.3
pandas-bokeh==0.5.5
pandocfilters==1.4.2
plotly==4.14.3
scikit-learn==0.23.1
seaborn==0.10.1

